body {
  margin: 0px;
  padding: 0px;
  /*background: url(assets/bg1.jpg) center !important;
        background-size: cover;*/
  // background: #1F2D3D;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}

#app {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
}


.el-submenu__title{
  height: 40px;
  line-height: 40px;
  color: #a0a8b0;
}
.el-submenu [class^=fa] {
  vertical-align: baseline;
  margin-right: 10px;

}

.el-submenu {
  .el-menu {
    background-color: #2a3139;
    color: #fff;
  }
  .el-menu-item {
    height: 40px;
    line-height: 40px;
    &.is-active {
      background-color: #08b1ff;
      color: #fff;
    }
  }
}
.el-menu-item [class^=fa] {
  vertical-align: baseline;
  margin-right: 10px;

}
.el-menu-item {
  color: #fff;
}

.toolbar {
  // background: #f2f2f2;
  padding: 10px 10px 0px 10px;
  //border:1px solid #dfe6ec;
  margin: 10px 0px;
  .el-form-item {
    margin-bottom: 10px;
  }
}

.side-tree {
  //width: 100%;
  border: none;
  // margin-top: 10px;
  // margin-right: 0px;
  height: 700px;
  //background: #f2f2f2;
  overflow: auto;
}

.tree-toolbar {
  padding: 10px;
  margin: 0px;
  .el-form-item {
    margin-bottom: 0;
  }
}

.dialog-footer {
  text-align: right;
}

.fade-enter-active, .fade-leave-active {
  transition: all .2s ease;
}

.fade-enter, .fade-leave-active {
  opacity: 0;
}
